#page-home {
    height: 100vh;
    /* background: url('../../assets/home-background.png') no-repeat 800px bottom; */
}
  
#page-home .content {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}
  
#page-home .content header {
    margin: 48px 0 0;
}

#page-home .content header h2 {
    text-align: center;
}

#page-home .main-home {
    margin: 80px auto;
    padding: 16px;
    max-width: 730px;
    background: #FFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#page-home .main-home .header-content {
    background-color: #322153;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 32px;
    margin-bottom: 16px;
}

#page-home .main-home .header-content h2 {
    font-size: 36px;
    text-align: center;
    color: #FFF;
}

#page-home .main-home .table-content {
    height: 500px;
    overflow: auto;
    color: #322153;
}

#page-home .main-home .table-content .table-title {
    display: flex;
    justify-content: space-between;
}

#page-home .main-home .table-content .card-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

#page-home .main-home .table-content .loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

#page-home .main-home .table-content .loading .spinner-border {
    margin-top: 8px;
}

#page-home .main-home .table-content .green {
    background-color: #2FB86E;
    color: #FFF;
}

#page-home .main-home .table-content .blue {
    background-color: #0375B4;
    color: #FFF;
}

#page-home .main-home .table-content .yellow {
    background-color: #FDD700;
    color: #FFF;
}

#page-home .main-home .table-content .red {
    background-color: #CE0700;
    color: #FFF;
}